<ul>
  <ng-container *ngFor="let offeringCurrent of site.projectSamples.offerings">
    <li *ngFor="let projectCurrent of site.projectSamples.projects[offeringCurrent.key]">
      {{ offeringCurrent.name }} -

      <ng-container *ngIf="sampleToLink==='website'">
        <app-generated-link linkHREF="{{ projectCurrent.link }}">{{ projectCurrent.name }}</app-generated-link>
      </ng-container>

      <ng-container *ngIf="sampleToLink==='1b'">
        Proposal that ultimately became
      </ng-container>

      <ng-container *ngIf="['1b', '2b', '2c', '2d', '2e', '2f', '2g', '2h', '2i', '3a', '3c', '3d', '3e', '3f', '3g', '4c'].includes(sampleToLink)">
        <app-generated-link linkHREF="{{ projectCurrent.link }}">{{ projectCurrent.name }}</app-generated-link>:
        <app-generated-link linkHREF="/assets/samples/{{ sampleToLink }}/{{ sampleToLink }}_{{ projectCurrent.suffix }}.pdf">
          {{ sampleToLink }}_{{ projectCurrent.suffix }}.pdf
        </app-generated-link>
      </ng-container>

      <ng-container *ngIf="['4b'].includes(sampleToLink)">
        <app-generated-link linkHREF="{{ projectCurrent.link }}">{{ projectCurrent.name }}</app-generated-link>:
        <app-generated-link linkHREF="/assets/samples/{{ sampleToLink }}/{{ sampleToLink }}_{{ projectCurrent.suffix }}.mp4">
          {{ sampleToLink }}_{{ projectCurrent.suffix }}.mp4
        </app-generated-link>
      </ng-container>
    </li>
  </ng-container>
</ul>
